*{
    margin: 0;
    padding: 0;    
}
.cabecalho{
    background-color: rgb(112, 69, 58);
   color:rgba(172, 8, 8, 0.699);
    display:flex;
    justify-content:space-around;
    padding:5px 0;
    font-size:40px;
}

.cabecalholistaitem{
    display: inline-block;
    margin:0 29px;
    padding:188px 0;
}
